<h1 mat-dialog-title>Új munkalap</h1>
<form class="example-form" (submit)="newServiceSheet(ugyfelneve.value, ugyfelcime.value, ugyfelszama.value, munka.value, elvegzettmunka.value, anyag.value, ar.value)">
  <div mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput #ugyfelneve="ngModel" name="customer_name" [(ngModel)]="jobreport.customer_name">
      <mat-placeholder>
        <mat-icon class="icon-color">person</mat-icon> Ügyfél neve
      </mat-placeholder>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput #ugyfelcime="ngModel" name="customer_address" [(ngModel)]="jobreport.customer_address">
      <mat-placeholder>
        <mat-icon class="icon-color">person_pin_circle</mat-icon> Ügyfél címe
      </mat-placeholder>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="tel" matInput #ugyfelszama="ngModel" name="customer_phone" [(ngModel)]="jobreport.customer_phone">
      <mat-placeholder>
        <mat-icon class="icon-color">local_phone</mat-icon> Ügyfél telefonszáma
      </mat-placeholder>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput #munka="ngModel" name="problem_review" [(ngModel)]="jobreport.problem_review">
      <mat-placeholder>
        <mat-icon class="icon-color">error</mat-icon> Munka megnevezése
      </mat-placeholder>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput #elvegzettmunka>
      <mat-placeholder>
        <mat-icon class="icon-color">error</mat-icon> Elvégzett munka
      </mat-placeholder>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput #anyag>
      <mat-placeholder>
        <mat-icon class="icon-color">error</mat-icon> Felhasznált anyag
      </mat-placeholder>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput #ar>
      <mat-placeholder>
        <mat-icon class="icon-color">error</mat-icon> Javítás ára
      </mat-placeholder>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button color="primary" type="submit" (click)="dialog.close()">
      Hozzáadás
    </button>
  </div>
</form>
