<!doctype html>
<html lang='en'>

<body class="pdf">
  <h1>Háztartási gépszervíz</h1>
  <h2>MUNKALAP</h2>
  <div *ngFor="let item of reports | async ">
    <table class="table" width="75%" font-size="1.5rem">
      <tbody>
        <tr>
          <td style="font-weight: bold;">Megrendelő:</td>
          <td>{{ item.customer_name }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold;">Cím:</td>
          <td>{{ item.customer_address }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold;">Telefonszám:</td>
          <td>{{ item.customer_phone }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold;">Munka megnevezése:</td>
          <td>{{ item.did_job }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold;">Elvégzett munka:</td>
          <td>{{ item.problem_review }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold;">Felhasználat anyag:</td>
          <td>{{ item.used_goods }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold;">Javítás ára:</td>
          <td>{{ item.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text">
    Kérem őrizze meg a munkalapot!
    <br/> Az ár tartalmazza a kiszállási díjat, alkatrész árát és a munkadíjat!
    <br/> Garancia kizárólag a javított vagy cserélt alkatrészekre vonatkozik!
    <br/> /6 hónap/
  </div>
  <div class="signature" style="display: table">
    <div class="line" style="display: table-cell;"></div>
    <div style="display: table-row; font-weight: bold; font-size: 1.2rem;">Szabó Tamás</div>
    <div style="display: table-row;">Szervíz vezető</div>
  </div>
  <div class="office-container">
    <div style="padding-top: 120px;">Háztartási Gépszerviz
      <br/> 4254 Nyíradony, József Attila utca 58.</div>
    <div style="padding-top: 10px;">Telefonszám: 0630-590-8137
      <br/> Weblap: www.hazgepszerv.hu
      <br/> E-mail: info@hazgepszerv.hu</div>
  </div>
  <div class="date">
    Dátum: {{item.day}}
  </div>
</body>

</html>
