<main>
  <div>
    <h1>Háztartási Gépszerviz</h1>
    <form class="login-form" (submit)="loginWithEmail(email.value, password.value)">
      <mat-form-field class="login-full-width">
        <input matInput #email placeholder="Email" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Adj meg érvényes e-mail címet
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email megadása <strong>kötelező</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <input matInput #password placeholder="Jelszó" [formControl]="passwordFormControl" type="password">
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Jelszó megadása <strong>kötelező</strong>
        </mat-error>
      </mat-form-field>

      <button class="login-full-width" mat-raised-button color="primary" type="submit">Belépés</button>

    </form>
  </div>
</main>
